* {
    margin: 0;
    padding: 0;
    border: none;
}

div {
    width: 200px;
}

p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-break: break-word;
}