* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    background-image: linear-gradient(to right bottom, blue, yellow);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}