* {
    margin: 0;
    padding: 0;
    border: none;
}

#wrapper {
    width: 800px;
    background-color: #FF9;
    margin: auto;
}

#top {
    width: 800px;
    height: 100px;
    background-color: yellow;
}

#left {
    width: 200px;
    height: 600px;
    background-color: blue;
    float: left;
}

#content {
    width: 400px;
    height: 600px;
    background-color: grey;
    float: left;
}

#right {
    width: 200px;
    height: 600px;
    background-color: black;
    float: left;
}

#footer {
    width: 800px;
    height: 100px;
    background-color: red;
    clear: both;
}