<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="layout-2.css">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div id="top">Top</div>
        <div class="shaft">
            <div id="trunk-1"></div>
            <div id="trunk-2"></div>
        </div>
        <div class="shaft">
            <div id="trunk-3"></div>
            <div id="trunk-4"></div>
        </div>
        <div class="shaft">
            <div id="trunk-5"></div>
            <div id="trunk-6"></div>
        </div>
    </div>
</body>

</html>