.main-content {
    width: 860px;
    background-color: #F7F9FA;
}

.igm {
    width: 100%;
}

.main-content h3 {
    color: white;
    background-color: red;
    width: 5%;
}

.link-img {
    display: block;
    /* Đóng khối trước  khi thực thi margin */
    margin-bottom: 5px;
}

.link-new {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    display: block;
    margin-bottom: 5px;
}

a.link-new:hover {
    color: orange;
}