// FONT
$font-logo: 'Great Vibes',
cursive;
$font-title: 'Pacifico',
cursive;
$font-primary: 'Oswald',
sans-serif;
$font-secondary: 'Roboto',
sans-serif;
// COLOURS
$color-green-1: rgba(133, 188, 69, 1);
$color-green-2: rgba(68, 189, 50, 1);
$white: #fff;
$white-light: rgb(228, 228, 228);
$black: #000;