.header {
    background-image: linear-gradient(to right bottom, rgba($light-blue, .8), rgba($dark-blue, .8)), url('https://images.unsplash.com/photo-1627483262769-04d0a1401487?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;
    -webkit-clip-path: ellipse(84% 53% at 51% 38%);
    clip-path: ellipse(84% 53% at 51% 38%);
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__logo {
        height: 70px;
    }
    &__logo-box {
        position: absolute;
        top: 30px;
        left: 30px;
    }
}