* {
    margin: 0;
    padding: 0;
    border: none;
}

#box {
    width: 200px;
    height: 200px;
    background: red;
    /* transition: [attribute] [time changed] [delay time] [easing function] */
    transition: all 1s 0.2s ease-in;
    -moz-transition: all 1s 0.2s ease-in;
    -webkit-transition: all 1s 0.2s ease-in;
}

#box:hover {
    background: blue;
    margin-left: 250px;
    /* 
    skew: nghiêng đi
    skewX: theo chìu ngang
    skewY: theo chìu thẳng đứng

    scale: thu phóng
    scaleX: theo chìu ngang
    scaleY: theo chìu thẳng đứng

    rotate: xoay

    translate: dịch chuyển vị trí [translate(X, Y)]
    translate(45px, 35%)

    deg: độ [rotate(80deg)], [skewX(75deg)]
    360 độ = 1turn
    */
    transform: rotate(2turn);
    transform-origin: 100% 200%;
}