body {
    font-family: Helvetica;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey;
    padding: 30px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;
    animation: animationtest 1s linear;
    animation-fill-mode: backwards;
    &__main {
        display: block;
        font-size: 6.2rem;
        font-weight: 400;
        letter-spacing: 15px;
    }
    & __sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 18px;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2rem;
    display: inline-block;
    cursor: pointer;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, $light-blue, $dark-blue);
    transition: all .2s linear;
    &:hover {
        transform: skewY(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2 rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size - 0.1;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}