<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Layout cơ bản" />
    <meta name="keyword" content="Layout" />
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div id="menu">
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li>
                    <a href="#">Dịch vụ</a>
                    <ul class="sub-menu">
                        <li><a href="#">Dịch vụ 1</a></li>
                        <li><a href="#">Dịch vụ 2</a></li>
                        <li><a href="#">Dịch vụ 3</a></li>
                    </ul>
                </li>
                <li><a href="#">Hỏi đáp</a></li>
                <li><a href="#">Diến đàn</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <!--#menu-->
        <div id="content">
            <div id="header">
                <div id="logo">
                    <img src="img/tplogo2014.png" alt="Thach Pham Blog" />
                </div>
                <div id="slogan">
                    <p>Series học CSS cơ bản cho người mới bắt đầu</p>
                </div>
            </div>
            <!--#header-->
            <div class="call-to-action">
                <h3>Bạn sẽ học được những gì?</h3>
                <p>
                    Series này sẽ cung cấp các kiến thức cơ bản để bạn tự thiết lập Website với HTML & CSS
                </p>
            </div>
            <!-- call to action -->
            <div id="intro" class="row">
                <div id="box1" class="col">
                    <h2>CSS</h2>
                    <img src="img/css-icon.png" alt="CSS Icon" />
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis hic enim, laborum voluptas doloribus explicabo rem non quam ipsum numquam, facilis voluptates quis veniam dolores voluptatibus recusandae harum incidunt amet?
                    </p>
                </div>
                <div id="box2" class="col">
                    <h2>URL</h2>
                    <img src="img/url-icon.png" alt="URL Icon" />
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis hic enim, laborum voluptas doloribus explicabo rem non quam ipsum numquam, facilis voluptates quis veniam dolores voluptatibus recusandae harum incidunt amet?
                    </p>
                </div>
                <div id="box3" class="col">
                    <h2>CSS</h2>
                    <img src="img/html-icon.png" alt="HTML Icon" />
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis hic enim, laborum voluptas doloribus explicabo rem non quam ipsum numquam, facilis voluptates quis veniam dolores voluptatibus recusandae harum incidunt amet?
                    </p>
                </div>
            </div>
            <!--row-->
            <div id="footer">
                <p>Copyright &copy; 2015 www.thachpham.com</p>
            </div>
        </div>
        <!-- #content -->
    </div>
    <!--container-->
</body>

</html>